$prime-color: #FACD66;
$grey: #EFEEE0;

.Sidebar {
    position: fixed;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2em 1em;
    // @media 
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.8em;
    background-color: #1A1E1F;
    padding: .5em;
    gap: 1em;
    font-size: 1.8em;
    li {
        transition: transform .4s ease;
        &:hover {
            color: $prime-color;
            transform: scale(.9);
        }
    }
    // background-color: #fff;
}