$prime-color: #FACD66;
$grey: #EFEEE0;
$add-gray: #D9D9D9;
$dark: #1A1E1F;

.liked_list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 66.6%;
    margin: 2rem 0;
    .list_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .6rem;
        padding-right: 1.4rem;
        background-color: $dark;
        border-radius: 1rem;
        transition: all .4s ease;
        cursor: pointer;
        &.list_item_active {
            background-color: rgb(65, 65, 159);
            animation: scale_change 1.3s ease infinite;
        }
        &:hover {
            opacity: .8;
            transform: scale(1.03);
        }
        .list_item_data {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .list_item_img_wrap {
            img {
                width: 5rem;
                height: 5rem;
                border-radius: 1rem;
            }
        }
        .item_data {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            .item_title {
                font-size: 1.2rem;
                color: $prime-color;
            }
            .item_artist {
                font-size: .9rem;
                color: rgba(255, 255, 255, 0.511);
            }
        }
    }
}
@keyframes scale_change {
    0% {
        transform: scale(.97);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(.97);
    }
}