$prime-color: #FACD66;
$grey: #EFEEE0;
$add-gray: #D9D9D9;
$dark: #1A1E1F;

.top_charts {
    margin-top: 1.6em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    .main_cover_wrap {
        max-width: 50%;
        margin-inline: auto;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
    .main_cover {
        border-radius: 3.5em;
        height: 27em;
        width: 100%;
        background-color: $dark;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .main_cover_text {
            position: absolute;
            top: 2em;
            left: 2em;
            color: $prime-color;
            font-size: 1.3em;
        }
        img {
            min-width: 100%;
            object-fit: cover;
            transition: all .3s ease;
            &:hover {
                opacity: .3;
            }
        }
    }
    .song_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .1em;
        font-family: 'Poppins', sans-serif;
        .song_title {
            font-size: 1.1em;
        }
        .song_author {
            color: rgba(255, 255, 255, 0.511);
            font-size: .8em;
        }
        .song_duration {
            font-size: 0.8em;
        }
    }
}
.top_charts_wrap {
    display: flex;
    flex-direction: column;
    width: 35em;
    margin-inline: auto;
}